.wrapper{
    width: 75%;
    margin: auto;
    background: #aaa;
    font-family: 'Lobster', cursive;
}
.container{
    display: flex;
    width: 80%;
    justify-content: space-between ;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}
.titre{
    text-align: center;
}
.voiture{
    border: 1px solid black;
    width: 33%;
    margin: 2em;
    padding: 1em;
    background: white;
    box-shadow: 2px 2px 2px black;
    border-radius: 5%;
}
.photo{
    width:15.6em;
    height: 15.6em;
    margin: auto;
}
img{
    width: 100%;
}
.nav{
    text-align: center;
}
.nav a{
    padding: 2em;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background: white;
    margin: 1em 0;

}
.list_voiture{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.index{
    text-align: center;
}
.crea_form{
    width: 50%;
    margin: auto;
    text-align: center;
}
.crea_form div{
    padding: 0.5em;
}
.form{
    border: 1px solid black;
    padding: 0.2em;
    margin: 1em 0;
}