.wrapper{
    /* width: 75%; */
    margin: auto;
    background: #aaa;
    font-family: 'Anton', sans-serif;
}
.container{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}
.titre{
    text-align: center;
}
.voiture{
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
    background: white;
    box-shadow: 2px 2px 2px black;
    border-radius: 5%;
}
.photo{
    width:15.6em;
    height: 15.6em;
    margin: auto;
}
img{
    width: 100%;
}
.nav{
    text-align: center;
}
.nav_nav{
    position: sticky;
    top: 0;
}
.nav a{
    /* padding: 1em; */
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background: white;
    margin: 1em 1em;
    box-shadow: 2px 2px 2px black;
    width: 25%;
    text-shadow: 1px 1px 1px black;
    font-size: 2em;

}
.nav a:hover{
    box-shadow: 0px 0px 0px black;

}
.list_voiture{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.index{
    text-align: center;
}
.crea_form{
    /* width: 50%; */
    margin: auto;
    text-align: center;
}
.crea_form div{
    padding: 0.5em;
}
